.git
.venv
**/__pycache__
**/*.pyc
**/node_modules
src/frontend
docs
report
*.md
src/ml/notebooks
src/ml/plate_detection_pipeline/output
src/ml/plate_detection_pipeline/notebooks
src/ml/checkpoints
src/ml/data/raw
data
testimage
